
body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    /*flex-direction: column; */
    background: radial-gradient(circle, rgba(245,216,228,1) 0%, rgba(148,187,233,1) 100%);
    color: rgb(2, 27, 27);
  }
  
  
  h1 {
    font-weight: 100;
    font-size: 100px;
    font-weight: bold; 
  }

  .container {
    width: 468px;
    margin-top: 30px;
    
  }
  
  .top {
    display: flex;
    justify-content: space-between;
    align-items : center;
    margin-bottom: 20px;
  }

  
  .info {
    display: flex;
    flex-direction: column;
    padding-left: 1px; 
  }
  



  .score-container {
    text-align: center;
    font-size: 20px;
    width: 100px;
    height: 80px;
    padding: 0 25px ; 
    margin-bottom: 10px;
    border: 2px solid white;
    background: radial-gradient(circle, rgba(245,216,228,1) 0%, rgba(148,187,233,1) 100%);
    box-shadow: 8px 8px 0px rgba(148,187,233,1);
    color: black;
    
  }
  
  #score {
    font-size: 20px;
  }
  
  .score-title {
    font-size: 20px;
    font-weight: bold; 
  }

  .start {
    width: 100x;
    height: 80px;
    margin-top: 20px; 
    background: radial-gradient(circle, rgba(245,216,228,1) 0%, rgba(148,187,233,1) 100%);
    padding: 25px; 
    border: 2px solid white;
    font-size: 20px; 
    font-weight: bold; 
    box-shadow: 8px 8px 0px rgba(148,187,233,1); 
  }




.grid {
    width:500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    align-items: center ;
    justify-content: space-evenly;
    background: radial-gradient(circle, rgba(10,114,162,1) 0%, rgba(0,3,25,1) 98%);
    column-gap: 5px;
    row-gap: 5px;
    text-align: center;
    margin-top: 20px; 
    border: 2px solid white ;
    padding: 10px;

    
}

.grid div {
    width : 100px;
    height : 85px; 
    font-size: 50px;
    border: 2px solid white ;
    font-weight: bold;
    border-radius: 5px;
    position: relative;
    text-align: center; 
    padding-top: 15px; 
}




.howToPlay{
  border-bottom: 1px solid white;
  align-items: center;
  text-align: center;

}